<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">The Tech Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        {{#if session.loggedIn}}
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="#"id="logout-btn" >Log Out</a>
        
        {{else}}
        <a class="nav-link" href="/login">Log In</a>
        <a class="nav-link" href="/register">Register</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
{{#if session.loggedIn}}


{{else}}
{{/if}}

