{{> nav}}

<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Edit Post</h1>
            {{log this}}
    		
    		<form id="edit-post-form">
    		    
    		    <div class="form-group">
    		        <label for="title">Title</label>
    		        <input type="text" value="{{post.title}}" class="form-control" id="title" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="body">Body</label>
    		        <textarea rows="5" class="form-control" id="body" >{{post.content}}</textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" id="edit-btn" data-id="{{post.id}}" class="btn btn-primary">
    		            Update
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>

<script src="../js/update-post.js"></script>