{{> nav}}

<section class="row justify-content-center mx-5 mb-5">
{{#each posts as |post|}}
{{> homepage-posts}}
{{/each}}

</section>

{{#if session.loggedIn}}

<script src="./js/log-out.js"></script>


{{/if}}